<!DOCTYPE html>
<html lang="en">
	<head>
		<title>News Scrape</title>
		<!-- BOOTSTRAP STYLE SHEET -->
		<link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
	    <!-- CUSTOM STYLES -->
	    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
