<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>News Scrape</h2>
            <br />
        </div>
    </div>
    <div class="row">
       
    </div>
    <div class="row">
   		<!-- LEFT COLUMN -->
      	<div class="col-md-4">
            <div class="twt-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Add A Comment To the Article
                    </div>
                    {{#each data}}
                    <form action="/comment" method='POST'>   
                        <div class="panel-body">
                            <textarea name="comment" class="form-control" placeholder="{{this._id}}" rows="10"></textarea>
                            <!-- <a href="#" id="add" class="btn btn-primary btn-sm pull-right">Add Comment</a> --> 
                            <input type="hidden" name="article_id" value="{{this._id}}"">
                            <button class="btn btn-primary btn-sm pull-right" type="submit" id="add">Add Comment</button>
                        </div>   
                    </form>
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- CENTER COLUMN -->
        <div class="col-md-4">
            <div class="twt-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Article
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    {{#each data}}
                                    <span class="text-muted pull-right">
                                        {{this.title}}
                                    </span>
                                    {{/each}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- RIGHT COLUMN -->
        <div class="col-md-4">
            <div class="twt-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Comments About Article
                    </div>
                    <form action="/delete" method='POST'>   
                    {{#each data}}
                    <div class="panel-body">
                        <textarea class="form-control" rows="3">{{this.comments}}</textarea>                      
                        <!-- <a href="#" id="delete" class="btn btn-primary btn-sm pull-right">Delete Comment</a> -->
                        <button class="btn btn-primary btn-sm pull-right" type="submit" id="delete">Delete Comment</button>
                    </div>
                    {{/each}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>